body {
    background-color: rgba(0, 100, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;    
}

#todo-app {
    flex-direction: column;
    border: 1px solid white;
}

h1 {
    background-color: rgb(200, 255, 150);    
}

h1:hover {
    font-size: 2.5em;
}

#todo-container {
    flex-direction: column;
}

form {
    background-color: rgba(0, 150, 100, 0.5);
    padding: 5px;
}

form:hover {
    background-color: rgba(0, 255, 100, 0.5);
}

#new-item {
    width: 100%;
    padding: 5px;
    margin: 5px 0 5px 0;
}